:root > * {
    --md-primary-fg-color:        #F28C1C;
    --md-primary-fg-color--light: #F28C1C;
    --md-primary-fg-color--dark:  #F28C1C;
  }

@keyframes heart {
  0%, 40%, 80%, 100% {
    transform: scale(1);
  }
  20%, 60% {
    transform: scale(1.15);
  }
}
.heart {
  animation: heart 1000ms infinite;
}
